<div class="card">
  <h5>Configuración Juego</h5>
  <div class="grid p-fluid mt-3">
    <!-- <div class="field col-12 md:col-6">
      <span class="p-float-label">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="timezones" [(ngModel)]="timezone" optionLabel="name"></p-dropdown>
          <label for="dropdown">Zona Horaria</label>
      </span>
    </div>
    <div class="field col-12 md:col-6">
      <span class="p-float-label">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="currencies" [(ngModel)]="currency" optionLabel="name"></p-dropdown>
          <label for="dropdown">Moneda</label>
      </span>
    </div> -->
    <div class="field col-12 md:col-4" *ngFor="let item of settings">
      <span class="p-float-label">
        <input type="text" [id]="item.key" pInputText [value]="item.value" (change)="updateValue(item.key, $event)">
        <label for="inputtext">{{item.title}}</label>
      </span>
    </div>
  </div>
  <div class="flex justify-content-center">
    <button pButton label="Guardar" [loading]="loading" (click)="updateGame()"></button>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>