<div class="layout-topbar">
  
  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <a class="ml-5" routerLink="">
    <img src="../../../../assets/imgs/Ganaplay.jpg" alt="" width="100">
  </a>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

    <div>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </button>
    </div>
  
  </div>
</div>
